/* ellipse(77% 96% at 50% 1%); */

.header-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #f0e68c;
    /* background-color: #003366; */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #003366;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
    background-color: #27598b;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #002244;
}

.top-bar .left a,
.top-bar .right a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.top-bar .right a i {
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: #f0e68c;
    text-decoration: none;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
}

nav ul li {
    margin-right: 20px;
}

.right-icons a {
    margin-left: 20px;
}

.right-icons img {
    width: 20px;
}

img{
    width: 80px;
    position: relative;
}

/* Teams CSS */

.teams-section h1 {
    margin-bottom: 20px;
}

.team-card {
    background-color: var(--team-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 225px;
    /* Fixed height */
    position: relative;
}

.team-logo {
    background-color: var(--team-color);
    padding: 20px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    clip-path: ellipse(77% 96% at 50% 1%);
    height: 60%;
    /* Ensure it covers the top 60% of the card */
}

.team-logo img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.team-info {
    background-color: var(--team-bg-color);
    padding: 2px;
    position: absolute;
    bottom: 19px;
    width: 100%;
    z-index: 2;
}

.team-info .team-name {
    color: white;
    font-size: 16px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Footer */

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}